Co-author review of Oct 31, 2019 version of rpcrdma-version-two

Abstract

I'd like to avoid use of the word "new" in the abstract since it, even though it is true now, it eventually (after publication) won't be.
In the first sentence suggest replace "a new version" by "the second version".
In the second sentence suggest replacing "The new" by "This".
1. Introduction

In the third non-bulleted paragraph, suggest making the following changes:
replacing "is compatible with" by "allows interoperation with".
replacing "a new" by "an additional".
With regard to the last paragraph, I think that send-chaining is going to mean
that you cannot rely on RFC8166 in the way you currently do since the way that 
section 3 is written pretty much assumes that rpc sends correspond one-to-one
with RPC messages.   I think we can defer that rework to a post-00 version by 
replacing, for now, the last paragraph by the following: 

As in [RFC8166], the terms "RPC Payload Stream" and "Transport Header Stream" (defined in Section 3.2 of that document) are used to distinguish between an RPC message as defined by [RFC5531] and the header whose job it is to describe the RPC message, its associated memory resources, and, in the case of this version, the relationship between the data beyond the transport header and the RPC message of which it is a part.  In that regard, the reader is assumed to understand how RDMA is used to transfer chunks between client and server and the role of DDP-eligibility in constraining how data payloads are to be conveyed.  Please see the discussion of terminology in Section 2 of [RFC8166].

3.  RPC-over-RDMA Version 2 Flow Control

In the first sentence suggest replacing "RC QP" by "Reliable connected (RC) Queue Pair (QP)".

In the second sentence, suggest deleting the word "fast".

With regard to the requested citation, suggest adding the following material.

For version 1, that mechanism in  described in Section 3.3.1 of [RFC8166], while, for this version, it is descibed in the sections immediately below.

3.1.  Granting Credits

In the first sentence of the second paragraph, suggest replacing "In order to remain compatible with RPC-over-RDMA version 1" by "In order to conform to the requirements to maintain the version 1 offsets of existing transport header filed (See Section 7 of [RFC61886]".

At the start of the last paragraph suggest replacing "Put another way:" by "In this approach"

3.2.  Out-of-Band Credit Grant

Suggest replacing the title by "Credit Grant Refresh".

In the first sentence suggest replacing  "In addition to this, a new" by "to better support the transmissions of messages composed of a multiple sends, a".

In the the last sentence of the section, suggest replacing "might" by "needs to".

4.1.  Transport Properties Model

In the last line of the table, suggest replacing, "opaque" by "opaque<>".

4.2.6.  Host Authentication Message

In the first sentence suggest replacing "to carry" by "as part of". 

In the second sentence suggest replacing "The exchange" by "Such exchanges".

In the code fragement, suggest adjusting the typedef for rpcrdma2_prop_hostauth ro refelect the fact that this an opaqure array.

5.1.  Overall Transport Message Structure

Suggest replacing the last bullet by "Potentially, an RPC message (or an initial section thereof) being conveyed as an addendum to the header or a section of RPC message to be appended to previous message fragments"

5.4.2.  RDMA2_NOMSG: Convey External RPC Message

Suggest replacing the second sentence of the first paragraph by the folllowing:

The message conveyed, when a message is conveyed  can be either a Long message,which is read from a memory area specified by a Position Zero Read chunk;or a Long reply, which is written into a memory area specified by a Reply chunk.  In both of these cases the rdma_xid field is the xid of the associate request or reply.

Suggest replacing your [...] by the following": In this case, there is no RPC message conveyed and te sender is free to set the rdma_xid field to any arbitrary value.   The receiver should not use the value in this field for any purpose.

5.4.3.  RDMA2_ERROR: Report Transport Error

With regard to your [...], there is no need to deal with the case of a resquestor sending this since he "MUST NOT" send it.
Suggest adding the following sentences:  Except in the case of a credit refresh grant, the rdma_xid field in this messafe should be the same as that in the message header about which an error is being reported.   In the case of an error in a credit grant refreshh, the value zero is to be used.

A.2.  Maximum Reply Size

To address your [...], suggest rewriting the section as follows:

A Requester provides resources for both an RPC Call message and will also need to provide some resource for a matching RPC Reply message.  A Requester forms the RPC Call message itself; thus, the Requester can compute the exact resources needed.   Because the responder may use send chaining to send a reply of unlimited size, the requester only needs to provide reply resources when the request contains Write chunks.  However, the requester is free to provide a Reply chunk to use to transfer replies long than can be accommadated in a single send.

A Requester must allocate resources for the RPC Reply message (an  RPC-over-RDMA credit, a Receive buffer, and possibly a Write list and Reply chunk) before the Responder has formed the actual reply.  To accommodate all possible replies for the procedure in the RPC Call message, a Requester is well-advised to allocate reply resources based on the maximum possible size of the expected RPC Reply message.   Even though the replay migt require more than single send, the Requester only needs to provide a single RPC-over-RDMA credit, since the credit frant refresh mechanism is available to provide additional credits later.

If there are procedures in the ULP for which there is no clear reply size maximum, the ULB needs to specify a dependable means for determining the maximum.

A.3.  Additional Considerations

With regard to the [...], believe this can be accommondating by replacing "established" by "established and  the initial transport properties exchanged.

B.4.  Adding New Error Codes to the Protocol

With regard to the [ ... ], do not believe this is possible in general as the addition of a new error code implies a change in specfied behavior. Suggest replacing this paragraph by the following:

New error codes to be returned when using new header types may be introduced in the same Standards Track document that defines the new header type.   Cases in which a new error code is to be returned by an existing header type require a change of behavior about  which the peers need to agree.  Such cases can be accommodated by defining the new error code in the same Standards Track document wich defines the transport property defining the new behavor, including te new error code, is specified.