Base RPC/RDMA v2 should support Send chaining

Consider making the base protocol support Send chaining (aka message continuation). Note that once that mechanism is introduced, we'll have to consider possible changes to the NFS ULB related to when to use Position-Zero Read chunks and Reply chunks -- Send chaining can be used in some of those situations.

Inclusion of send chaining would make it hard to deal with rfc8267 without a bis document. Luckily, it appears that the necessary changes are limited to Section 3.

Assume you mean Section 3 of RFC 8267. Arguably, handling inadequate reply size estimates should be done by the transport, not by the ULP. We should consider moving that discussion into RPC/RDMA v2 so that it applies to all Upper Layer Protocols.

  *   Assume you mean Section 3 of RFC 8267.

Yes.

  *   Arguably, handling inadequate reply size estimates should be done by the transport, not by the ULP. We should consider moving that discussion into RPC/RDMA v2 so that it applies to all Upper Layer Protocols.
I agree but I still think you need a v2 binding document to correspond to rfc8267.

From: Chuck Lever <notifications@github.com>
Sent: Saturday, October 26, 2019 3:42 PM
To: chucklever/i-d-rpcrdma-version-two <i-d-rpcrdma-version-two@noreply.github.com>
Cc: Noveck, David <David.Noveck@netapp.com>; Comment <comment@noreply.github.com>
Subject: Re: [chucklever/i-d-rpcrdma-version-two] Base RPC/RDMA v2 should support Send chaining (#3)

NetApp Security WARNING: This is an external email. Do not click links or open attachments unless you recognize the sender and know the content is safe.



Assume you mean Section 3 of RFC 8267. Arguably, handling inadequate reply size estimates should be done by the transport, not by the ULP. We should consider moving that discussion into RPC/RDMA v2 so that it applies to all Upper Layer Protocols.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/chucklever/i-d-rpcrdma-version-two/issues/3?email_source=notifications&email_token=ANP2RUMHQMDFL3DPBIO6LODQQSMQDA5CNFSM4JBLTEL2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOECKPN6I#issuecomment-546633465>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ANP2RUPP63LCI2HDDS6XNO3QQSMQDANCNFSM4JBLTELQ>.


> > Arguably, handling inadequate reply size estimates should be done by the transport, not by the ULP. We should consider moving that discussion into RPC/RDMA v2 so that it applies to all Upper Layer Protocols.

> I agree but I still think you need a v2 binding document to correspond to rfc8267.

Agree, a separate binding of NFS to RPC/RDMA v2 is appropriate. I feel it can work best if it is a separate document from RPC/RDMA v2.


As discussed before, the use of Message Continuation will alter the use of PZR and Reply chunks. Proposed changes:
* Instead of a PZR chunk, Message Continuation MAY be used to convey a Long Call. A PZR chunk might be appropriate for large Call messages (e.g. 1MB krb5p WRITE).
* A Reply chunk MAY be provided, but if it's missing, or the existing Reply chunk is too small, the responder MUST use Message Continuation to return a Long Reply. Discussion of retrying a request with a larger Reply chunk is no longer necessary.
* Message Continuation can be used to convey a Long message in the reverse direction.
* Definition of a Long message should conform with the possible use of Message Continuation.
* A mechanism for handling chunks associated with a Message Continuation sequence must be defined. Let's allow non-empty chunk lists only in the last message in the sequence.
* The error codes that signify an inadequate Reply chunk are no longer necessary.

Have I missed anything?



From: Chuck Lever <notifications@github.com>
Sent: Wednesday, October 30, 2019 5:39 PM
To: chucklever/i-d-rpcrdma-version-two <i-d-rpcrdma-version-two@noreply.github.com>
Cc: Noveck, David <David.Noveck@netapp.com>; Comment <comment@noreply.github.com>
Subject: Re: [chucklever/i-d-rpcrdma-version-two] Base RPC/RDMA v2 should support Send chaining (#3)

NetApp Security WARNING: This is an external email. Do not click links or open attachments unless you recognize the sender and know the content is safe.



As discussed before, the use of Message Continuation will alter the use of PZR and Reply chunks. Proposed changes:

  *   Instead of a PZR chunk, Message Continuation MAY be used to convey a Long Call. A PZR chunk might be appropriate for large Call messages (e.g. 1MB krb5p WRITE).
  *   A Reply chunk MAY be provided, but if it's missing, or the existing Reply chunk is too small, the responder MUST use Message Continuation to return a Long Reply. Discussion of retrying a request with a larger Reply chunk is no longer necessary.
That’s only true if you allow unbounded use of reply chaining, and if you do, then there is no real need for reply chunks, although you might keep them around to make the changes less disruptive

  *   Message Continuation can be used to convey a Long message in the reverse direction.
  *   Definition of a Long message should conform with the possible use of Message Continuation.
Not sure exactly what this means.

  *   A mechanism for handling chunks associated with a Message Continuation sequence must be defined.
Yes.
Let's allow non-empty chunk lists only in the last message in the sequence.
I’d prefer the first message.

  *   The error codes that signify an inadequate Reply chunk are no longer necessary.
Right.

Have I missed anything?

Probably 😊

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/chucklever/i-d-rpcrdma-version-two/issues/3?email_source=notifications&email_token=ANP2RULC5YNAETZWR64HZG3QRH5FRA5CNFSM4JBLTEL2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOECV3JRY#issuecomment-548123847>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ANP2RUIA7LGSCQCHQV3LW6DQRH5FRANCNFSM4JBLTELQ>.


>> A Reply chunk MAY be provided, but if it's missing, or the existing Reply chunk is too small, the responder MUST use Message Continuation to return a Long Reply. Discussion of retrying a request with a larger Reply chunk is no longer necessary.
> 
> That’s only true if you allow unbounded use of reply chaining, and if you do, then there is no real need for reply chunks, although you might keep them around to make the changes less disruptive

I think we do need to keep RDMA_NOMSG around. RDMA is going to be more efficient for large messages (see the example I gave: krb5p with large I/O).

The mechanism I proposed for Message Continuation is a MORE flag, and now that we have an out-of-band credit grant mechanism (essentially a payload-less ACK that can refresh credits), unlimited Message Continuation can be supported easily.

>> Message Continuation can be used to convey a Long message in the reverse direction.
>> Definition of a Long message should conform with the possible use of Message Continuation.
> 
> Not sure exactly what this means.

Long message today is probably defined as "Entire RPC message payload goes via RDMA". If a Long message can be sent via another mechanism -- say, via Message Continuation -- then a more general definition is needed. I consider this an editorial issue.

>> A mechanism for handling chunks associated with a Message Continuation sequence must be defined. Yes. Let's allow non-empty chunk lists only in the last message in the sequence.
> 
> I’d prefer the first message.

I chose the last message because the MORE flag would be clear in that one, just like it's clear in non-continued messages. It's easy to say chunks are allowed only in messages where the MORE flag is clear.

I can't see that there would be much performance difference between the first and last message, if that's your concern.

  *   I can't see that there would be much performance difference between the first and last message, if that's your concern

No.  it’s just that we’re going from a situation in which the chunks are at the start of a message to one in which they are at some place near the end of the message.   It’s just kind of disconcerting.   I can’t see that  it is broken.



From: Chuck Lever <notifications@github.com>
Sent: Thursday, October 31, 2019 10:44 AM
To: chucklever/i-d-rpcrdma-version-two <i-d-rpcrdma-version-two@noreply.github.com>
Cc: Noveck, David <David.Noveck@netapp.com>; Comment <comment@noreply.github.com>
Subject: Re: [chucklever/i-d-rpcrdma-version-two] Base RPC/RDMA v2 should support Send chaining (#3)

NetApp Security WARNING: This is an external email. Do not click links or open attachments unless you recognize the sender and know the content is safe.



A Reply chunk MAY be provided, but if it's missing, or the existing Reply chunk is too small, the responder MUST use Message Continuation to return a Long Reply. Discussion of retrying a request with a larger Reply chunk is no longer necessary.

That’s only true if you allow unbounded use of reply chaining, and if you do, then there is no real need for reply chunks, although you might keep them around to make the changes less disruptive

I think we do need to keep RDMA_NOMSG around. RDMA is going to be more efficient for large messages (see the example I gave: krb5p with large I/O).

The mechanism I proposed for Message Continuation is a MORE flag, and now that we have an out-of-band credit grant mechanism (essentially a payload-less ACK that can refresh credits), unlimited Message Continuation can be supported easily.

Message Continuation can be used to convey a Long message in the reverse direction.
Definition of a Long message should conform with the possible use of Message Continuation.

Not sure exactly what this means.

Long message today is probably defined as "Entire RPC message payload goes via RDMA". If a Long message can be sent via another mechanism -- say, via Message Continuation -- then a more general definition is needed. I consider this an editorial issue.

A mechanism for handling chunks associated with a Message Continuation sequence must be defined. Yes. Let's allow non-empty chunk lists only in the last message in the sequence.

I’d prefer the first message.

I chose the last message because the MORE flag would be clear in that one, just like it's clear in non-continued messages. It's easy to say chunks are allowed only in messages where the MORE flag is clear.

I can't see that there would be much performance difference between the first and last message, if that's your concern.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/chucklever/i-d-rpcrdma-version-two/issues/3?email_source=notifications&email_token=ANP2RUK3YDJ4BND3RW345Y3QRLVKTA5CNFSM4JBLTEL2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOECYBAEI#issuecomment-548409361>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ANP2RUNGVNHI5MCNTI2SB23QRLVKTANCNFSM4JBLTELQ>.


>> I can't see that there would be much performance difference between the first and last message, if that's your concern
> 
> No. it’s just that we’re going from a situation in which the chunks are at the start of a message to one in which they are at some place near the end of the message. It’s just kind of disconcerting. I can’t see that it is broken.

Nothing's written in stone. I'll go with "final message in the sequence" for now, and prototyping will tell us if that's a stupid idea.

The latest revision of the rpcrdma-version-two draft includes support for message chaining.